/* ----- Custom properties ----- */
:root {
  --clr-text-500: hsl(14, 88%, 65%);
  --clr-text-900: hsl(238, 29%, 16%);

  --clr-background-100: hsl(0, 0%, 100%);
  --clr-background-500: hsl(273, 75%, 66%);
  --clr-background-600: hsl(240, 73%, 65%);

  --clr-text2-700: hsl(240, 6%, 50%);
  --clr-text2-900: hsl(237, 12%, 33%);

  --clr-divider-500: hsl(240, 5%, 91%);

  --ff-base: 'Kumbh Sans', sans-serif;

  --fs-400: 0.8rem;
  --fs-500: 0.825rem;
  --fs-900: 2rem;

  --fw-400: 400;
  --fw-700: 700;
}

/* ----- CSS reset by Josh Comeau ----- */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Remove button styling
*/
button,
input[type='submit'],
input[type='reset'] {
  all: unset;
  cursor: pointer;
}
/*
  10. Remove list styling
*/
li {
  list-style-type: none;
}

/* Utilities */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ----- General Styling ----- */
body {
  background: var(--clr-background-500)
    linear-gradient(var(--clr-background-500), var(--clr-background-600));
  padding: 9.25rem 1.5rem;
  font-family: var(--ff-base);
}

@media (min-width: 68.75rem) {
  body {
    padding: 0;
    display: grid;
    place-items: center;
  }
}

p[aria-hidden='true'] {
  display: none;
}

footer {
  padding: 2rem;
  text-align: center;
}

@media (min-width: 68.75rem) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

footer a {
  color: var(--clr-divider-500);
  text-decoration: none;
}

footer a:is(:hover, :focus-visible) {
  color: var(--clr-background-100);
}

footer a:focus-visible {
  outline: 2px solid white;
  outline-offset: 4px;
}

/* ----- Card ---- */
.card {
  background-color: var(--clr-background-100);
  border-radius: 1rem;
  padding: 7.85rem 1.5rem 3rem 1.5rem;
  position: relative;
  max-width: 20.5rem;
  margin: 0 auto;
}

@media (min-width: 68.75rem) {
  .card {
    border-radius: 1.5rem;
    width: 57.5rem;
    max-width: 57.5rem;
    display: flex;
    margin: 0;
    /* overflow: hidden; */
    padding: 3.65rem 7rem 5.25rem;
  }
}

@media (min-width: 68.75rem) {
  .card__illustrations-container {
    width: 50%;
  }
}

.card__illustration {
  z-index: 2;
  position: absolute;
  width: 14.875rem;
  top: -6.75rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 68.75rem) {
  .card__illustration {
    width: 29rem;
    top: 50%;
    left: -4.65rem;
    transform: translateY(-50%);
  }
}

.card__illustration-shadow {
  z-index: 1;
  position: absolute;
  width: 14.875rem;
  top: -0.15rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 68.75rem) {
  .card__illustration-shadow {
    width: 29rem;
    top: 50%;
    left: -4.65rem;
    transform: translateY(-40%);
  }
}

.card__illustration-box {
  display: none;
}

@media (min-width: 68.75rem) {
  .card__illustration-box {
    display: block;
    position: absolute;
    top: 50%;
    left: -8rem;
    transform: translateY(-40%);
    z-index: 3;

    animation-duration: 1.5s;
    animation-name: beat;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

@media (min-width: 68.75rem) {
  .card__content {
    width: 50%;
    gap: 1.2rem;
  }
}

.card__title {
  text-align: center;
  font-size: var(--fs-900);
}

@media (min-width: 68.75rem) {
  .card__title {
    text-align: left;
    font-size: var(--fs-900);
  }
}

.accordion__li {
  border-bottom: 1px solid var(--clr-divider-500);
  padding: 0.5rem;
}

.accordion__btn {
  color: var(--clr-text2-900);
  width: 100%;
  font-size: var(--fs-500);
  padding: 0.4rem 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.2s ease;
  font-weight: var(--fs-400);
}

.accordion__btn:is(:hover, :focus-visible) {
  color: var(--clr-text-500);
}

.accordion__btn[aria-expanded='true'] {
  font-weight: var(--fw-700);
}

.accordion__btn img {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.accordion__btn[aria-expanded='true'] img {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.btn__icon {
  width: 0.625rem;
  height: 0.4375rem;
}

.question__content {
  color: var(--clr-text2-700);
  font-size: var(--fs-400);
  padding-bottom: 0.5rem;
}

@media (min-width: 68.75rem) {
  .question__content {
    padding-bottom: 0.65rem;
  }
}

@keyframes beat {
  0% {
    transform: scale(0.9) translateY(-40%);
  }
  100% {
    transform: scale(1) translateY(-40%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180);
  }
}
